@import url('varaibles.css');

h2 {
    color: var(--text-color, #252B42);

/* h2 */
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}


.div-news {
display: flex;
justify-content: space-around;
}


h5 {
    color: var(--text-color);
   

/* h5 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
  }


  .grid-item img {
    max-width: 100%;
    max-height: 100%;
  }

.grid-item {
    display: flex;    
    
    align-items: center;
    gap: 13px;
}