@import url('varaibles.css');

h2 {
    color: var(--text-color, #252B42);

/* h2 */
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}


.div-news {
display: flex;
justify-content: space-around;
}


h4 {
    color: var(--text-color);  
    

/* h4 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
   

/* h5 */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.1px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    margin: 10px auto;  
      
    
  }


  .grid-item img {
    max-width: 100%;
    max-height: 100%;
    
  }

.grid-item {
    display: flex;     
    align-items: center;
    gap: 13px;
    border-radius: 8px;
    background: var(--light-background-color, #FFF);
    transition: 3s; 

    /* Accentuate drop shadow */
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.lessons-card span {
  color: var(--muted-color, #BDBDBD);
text-align: center;
transition: 3s;

/* small */
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.2px;
}