@import url('varaibles.css');

.containner {  
  background-color: var(--bg);
 
}

.containner div {
  display: inline-flex;
align-items: center;
gap: 10px;
}

nav {
    display: flex;
    justify-content: space-around;    ;
    padding: 2em;
}


.logo-text {
    color: var(--text-color);
   /* h5 */
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px; /* 150% */
   letter-spacing: 0.1px;
   
}

.list-nav {
   display: inline-flex;   
   justify-content: space-between;
   align-items: center;
   gap: 50px;
   list-style-type: none;  
  
    
}


a {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 200% */
  letter-spacing: 0.2px;   
  
    color: var( --second-tx-color);
    text-decoration: none;
    
}

.btn-nav {
  border-radius: 25px;
  background: var(--light-background-color);
  padding: 6px 24px;

  color: var(--text-color);
 

/* btn-text */
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 200% */
letter-spacing: 0.2px;

}