@import url('varaibles.css');

.containner-2 {
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .section-text {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    
  }

  .div-text {
    display: flex;
    width: 519px;
    align-items: center;
    align-content: center;
    gap: 25px 35px;
    flex-wrap: wrap;
  }

  h1 {
    color: var(--text-color);
    font-family: var(--ff);
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
    letter-spacing: 0.2px;
  }

  strong {
    color: var(--primary-color) ;
    
  }

  .student-img {
    display: flex;
    width: 593px;
    height: 624px;
    padding: 88.69px 45.656px 0px 53.684px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
  }




  .div-btn {
    display: inline-flex;    
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    
    
    
  }

  .btn-blue {
    border-radius: 24px;
    background: var(--primary-color);
    /* Light drop shadow */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 10px 40px;
    
  }

  #btn-blue {
    color: var(--light-background-color);
  }

  .btn-light {
    border-radius: 24px;
    background: var(--light-background-color);
    
    /* Light drop shadow */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 10px 40px;
  }

  .div-img-check {
    display: inline-flex;
   padding: 12px;
   justify-content: center;
   align-items: center;
   gap: 10px;
  }


