@import url('varaibles.css');

@media (max-width: 600px) {
    .container {
      display: none;
    }

    /*Main*/

    .student-img {
        display: none;
    }

    .section-text {
        text-align: start;
        width: 100%;
        padding: 0 1rem;
    }

    .logo-text {        
       font-size: 16px;       
       font-weight: 400;
     
       
    }

    .div-text {
        width: 100%;
        padding: 0 1rem;
    }

    h1 {       
        font-size: 32px;        
        font-weight: 800;
        
       
        
      }

      /*Cards*/

      .cards {
        display: flex;
        flex-direction: column;        
        align-items: center;
      }

      .div-news {
        display: flex;
        flex-direction: column;
        align-items: center;        
      }

      .div-news h2 {
        
        font-size: 2rem;
      }

      /*Cards*/

      .grid-container {       
           display: flex;
           flex-direction: column;
           width: 80%; 
           text-align: center;
                 
            
          
      }

     .mod {
        display: flex;            
        flex-direction: column;
        width: 100%;        
     }

     .mod-link h2 {
      font-size: 2rem;
     }

      .dark-card , .dark-card-2 ,.dark-card-3{
      width: 100%;
     }

     .dark-card  h3{
      font-size: 1rem;          
     }

     .dark-card  p {
      font-size: .8rem;
     }

     /*Payment*/

     .payday {
      display: flex;
      flex-direction: column;
     }

     /*Join*/
     .join {
      display: flex;
      flex-direction: column;
      text-align: center;
     }

     /*Footer*/

     .media {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 0 2rem;
      
     }
  }