@import url('varaibles.css');


@media (max-width: 600px) {
  /*Header*/

 
   
    /*Main*/

    .student-img {
        display: none;
    }

    .section-text {
        text-align: start;
        width: 100%;
        padding: 0 1rem;
    }

    .logo-text {        
       font-size: 16px;       
       font-weight: 400;
     
       
    }

    .div-text {
        width: 100%;
        padding: 0 1rem;
    }

    h1 {       
        font-size: 32px;        
        font-weight: 800;
        
       
        
      }

      /*Cards*/

      .cards {
        display: flex;
        flex-direction: column;        
        align-items: center;
      }

      .div-news {
        display: flex;
        flex-direction: column;
        align-items: center;        
      }

      .div-news h2 {
        
        font-size: 2rem;
      }

      /*Cards*/

      .grid-container {       
           display: flex;
           flex-direction: column;
           width: 80%; 
           text-align: center;
                 
            
          
      }

     .mod {
        display: flex;            
        flex-direction: column;
        width: 100%;        
     }

     .mod-link {
      width: 100%;
     }

     .mod-link h2 {
      font-size: 2rem;      
     }

      .dark-card , .dark-card-2 ,.dark-card-3{
      width: 100%;
     }

     .dark-card  h3{
      font-size: 1rem;          
     }

     .dark-card  p {
      font-size: .8rem;
     }

     /*Payment*/

     .payday {
      display: flex;
      flex-direction: column;
     }

     /*Join*/
     .join {
      display: flex;
      flex-direction: column;
      text-align: center;
     }

     /*Footer*/

     .media {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 0 2rem;
      
     }



     #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #000;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(50vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }

    .logo-text {
      display: none;
    }

    .light-mode-btn , .dark-mode-btn {
      display: none;

    }

    
     
   

    
  }