@import url('varaibles.css');

.payment {
    background-color: var( --dark-background);
 
    
}

.payment-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    
}

.payment-text h1 {
    color: var(--light-text-color);
}


.payday {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 40px;
}



.payment-card {
    background-color: var(--light-text-color);
    border-radius: 8px;    
    /* Accentuate drop shadow */
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    display: inline-flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    
}

.payment-card h2 {    
    color: var(--text-color, #252B42);
   /* h2 */
   font-family: Open Sans;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: 57px; /* 142.5% */
   letter-spacing: 0.2px;
}





hr {
    background: var(--primary-color, #31A0FE);
    width: 47px;
    height: 4px;
}

.payment h2 {
    color: var(--text-color, #252B42);

    /* h2 */
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 142.5% */
    letter-spacing: 0.2px;
}

.payment p {
    color: var(--second-text-color, var(--second-text-color, #737373));

    /* small */
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.2px;
}

.payment-card button {
  display: flex;
  padding: 6px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid var(--text-color, #252B42);
}

.green-item {
    
    border-radius: 25px;
    background: var(--success-color, #2DC071);
}

.grey-item {
border-radius: 25px;
background: var(--muted-color, #BDBDBD);
}

/*Blue card*/

.payment-card-dark {
  display: inline-flex;
  padding: 58px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  border-radius: 8px;
  background: var(--tonal-background, #E1F4FF);

  /* Accentuate drop shadow */
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);

}

.payment-card-dark button {
   display: flex;
   padding: 6px 24px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   align-self: stretch;
   border-radius: 24px;
   background: var(--primary-color, #31A0FE);

   /* Light drop shadow */
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.payment-card-dark button > a {
    color: var(--light-text-color);
}
