 @import url('header.css');
 @import url('main.css');
 @import url('cards.css');
 @import url('classes.css');
 @import url('metodo.css');
 @import url('payment.css');
 @import url('comments.css');
 @import url('footer.css');

 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
    --dark-background: #252B42;
    --light-background-color:#fff;
    --primary-color-tonal: #D4EAF6;
    --secondary-color-tonal-1: #D6F1CC;
    --secondary-color-tonal-2: #F3DCD5;
    --dark-orange: #EC5C2E;
    --muted-color: #BDBDBD;
    --bg:#E1F4FF;
    --text-color:#252B42;
    --total-dark:#394264;
    --light-text-color:#fff;
    --second-tx-color:#737373;   
    --primary-color:#31A0FE;
    --ff:'Open Sans', sans-serif;
  
 }

 input[type="checkbox"] {
   display: none;
 }

 .bi {
   font-size: 1.3rem;
   cursor: pointer;
 }

 .bi-sun {
  display: block;
}


 .bi-moon {
   display: none;
 }

 #light-mode-btn {
  display: block;
 }

 #dark-mode-btn {
  display: none;
 }


 /* Dark  Theme*/
 .dark,
 .dark header 
   
  {
   background-color: var(--dark-background);
   color: var(--light-text-color) ;
 }
  .dark .bi-sun{
  display: none;
}


 .dark .bi-moon {
  display: block;
}

 .dark main {
  background-color: var(--total-dark);
  color: var(--light-text-color);
 }

.dark .btn {
  background-color: var(--dark-orange);
  color: var(--light-text-color);
}
.dark a ,
.dark p ,
.dark span,
.dark h2,
.dark h1 { 
    
    color: var(--light-text-color);
}

.dark .payment-card , .dark .payment-card-dark , .dark .join , .dark .cards , .dark .Right {
  background-color: var(--total-dark);

}


.dark #light-mode-btn {
  display: none ;
 }

.dark #dark-mode-btn {
  display: block;
 }





