 @import url('header.css');
 @import url('main.css');
 @import url('cards.css');
 @import url('classes.css');
 @import url('metodo.css');
 @import url('payment.css');

 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
    --dark-background: #252B42;
    --light-background-color:#fff;
    --primary-color-tonal: #D4EAF6;
    --secondary-color-tonal-1: #D6F1CC;
    --secondary-color-tonal-2: #F3DCD5;
    --muted-color: #BDBDBD;
    --bg:#E1F4FF;
    --text-color:#252B42;
    --light-text-color:#fff;
    --second-tx-color:#737373;   
    --primary-color:#31A0FE;
    --ff:'Open Sans', sans-serif;
  
 }